<% include partials/header %>
    <div class="list-header">
      <h2>Edit this Item</h2>
    </div>
    <form method="post" action="/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>">
      <input type="hidden" name="_method" value="patch">
      <input type="text" name="name" value="<%= item.name %>">
      $<input type="text" name="price" value="<%= item.price %>">
      <input class="button" type="submit" value="Update">
    </form>
  </body>
</html>
