<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="top-heading">Edit this Item</h1>
    <form method="post" action="/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>">
      <input type="hidden" name="_method" value="patch">
      <input type="text" name="name" value="<%= item.name %>">
      $<input type="text" name="price" value="<%= item.price %>">
      <input class="button" type="submit" value="Update">
    </form>
  </body>
</html>
