<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="title-holder">
      <h1 class='title'><%= title %></h1>
      <img class='logo' src='/images/pantrylogo.png'>

      <p>Make grocery shopping easier.</p>

      <form action='/saved-lists/current'>
        <input type='submit' name='SignIn ' value="Sign In">
      </form>
    </section>


  </body>
</html>
