<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <div class="title-holder">
      <h1 class='title'><%= title %></h1>
      <img class='logo' src='/images/pantrylogo.png'>

      <p class="tagline">Make grocery shopping easier.</p>

      <form action='/saved-lists/current'>
        <input class="button" type='submit' name='SignIn ' value="Sign In">
      </form>
    </div>


  </body>
</html>
