<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add an item.</h1>
    <form method="post" action="/">
      <input type="text" name="name" placeholder="Item Name">
      $<input type="text" name="price" placeholder="0.00">
      <input type="submit" value="Add Item">
    </form>
  </body>
</html>
