<% include partials/header %>
  <div class="list-header">
    <h2>My Lists</h2>
  </div>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr class="item-holder">
        <form method="post" action="/saved-lists/">
          <td><input type="text" name="name" placeholder="List Name"></td>
          <td><input class="button" type="submit" value="Add List"></td>
        </form>
      </tr>
      <% savedLists.forEach(function(savedList) { %>
      <tr class="item-holder">
        <% if (savedList.current === false){ %>
        <td class="item-info">
          <a href='saved-lists/<%= savedList._id %>'><%= savedList.name %></a>
        </td>
        <td class = "delete-item">
          <form action='saved-lists/<%= savedList._id %>' method='post'>
            <input type='hidden' name='_method' value='delete'>
            <input class="button" type='submit' name='Delete me' value="Delete List">
          </form>
        </td>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <footer>
  </footer>

  </body>
</html>


