<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2 class="top-heading">My Lists:</h2>
    <form method="post" action="/saved-lists/">
      <input type="text" name="name" placeholder="List Name">
      <input class="button" type="submit" value="Add List">
    </form>
    <% savedLists.forEach(function(savedList) { %>
    <div class='saved-list'>
      <p><a href='saved-lists/<%= savedList._id %>'><%= savedList.name %></a></p>
      <% if (savedList.current === false){ %>
        <form action='saved-lists/<%= savedList._id %>' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input class="button" type='submit' name='Delete me' value="Delete List">
        </form>
        <% } %>
    </div>
    <% }) %>
    <footer>
      <a class='button' href='/saved-lists/current'>Current List</a>
      <a class='button' href='/saved-lists'>My Lists</a>
    </footer>

  </body>
</html>


