/*
FAF3DD = Beige
C8D5B9 = Pale Silver
8FC0A9 = Eton Blue
68B0AB = Sheen Green
696D7D = Dim Gray
*/

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #696D7D;
}
h2{
  background-color: #68B0AB;
  padding: 3%;
}
a {
  color: #68B0AB;
}
.item-form{
  background-color: #C8D5B9;
  padding: 2%;
}
.item-holder{
  background-color: #FAF3DD;
  padding: 1%;
  margin: 1% 0;
  text-align: center;
}
.item-holder > * {
  display: inline-block;
}
