/*
FFFDF7 = Baby Powder
FAF3DD = Beige
C8D5B9 = Pale Silver
8FC0A9 = Eton Blue
68B0AB = Sheen Green
696D7D = Dim Gray

*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #696D7D;
  margin: 0;
  background-image: url('/images/pantry_hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}
a {
  color: #68B0AB;

}
.top-heading{
  background-color: #68B0AB;
  padding: 2%;
  color: #FFFDF7;
  margin: 0;
}
.saved-list{
  background-color: #C8D5B9;
  color: #FFFDF7;
  font-size: 2em;
}

.saved-list > *{
  display: inline;
}
.title-holder{
  text-align: center;
  color: #FFFDF7;
  background-color: rgba(0,0,0,0.2);
  margin: 10% 0 10% 0;

}
.title-holder h1{
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
}
.logo {
  height: 10%;
  width: 10%;
}
.title{
  font-size: 60px;
}
.tagline{
  font-size: 24px;
}
input{
  padding: 1%;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
.button{
  background-color: #68B0AB;
  padding: 1%;
  color: #FFFDF7;
  margin: 1% 1%;
  border: none;
  padding: 1%;
  border-radius: 5px;
  text-decoration: none;
}

table{
  border-collapse: collapse;
  border-spacing:0;
}
.list-header{
  background-color: #C8D5B9;
}
.list-header > *{
  display: inline;
}
.item-form{
  padding: 2%;
}
.item-holder{
  background-color: #FAF3DD;
  padding: 1%;
  text-align: left;
}
td{
  border-top: solid #C8D5B9 2px;
}
.item-info{
  width: 50%;
  font-weight: bolder;
  font-size: 1.5em;
}

.check{
  width: 10%;
  text-align: center;
}
.delete-item{
  padding-right: 2%;
}
footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 3%;
}

.total{
  border-top: solid #C8D5B9 2px;
  background-color: #FAF3DD;
  padding: 0 3%;
  font-size: 2em;
  text-align: right;
}

.total > *{
  display: inline;
}
